 {% extends "user/base.html" %}
 {% block body %}
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">

              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Work Experience Details</h4>
                    <div class="card-header-form">
                      <form>
                        <div class="input-group">
                            <div > <a href="{{url_for('add_work')}}" class="btn btn-success fa fa-plus">ADD NEW</a></div>
                          <input type="text" class="form-control" placeholder="Search">
                          <div class="input-group-btn">
                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <tr>
                          <th class="text-center">
                            <div class="custom-checkbox custom-checkbox-table custom-control">
                             </div>
                                      {% for message in get_flashed_messages()%}
                            &nbsp;&nbsp; &nbsp;&nbsp;<p style='color:purple'>{{message}}</p>

                          {%endfor%}
                          </th>
                          <th>S.N</th>
                          <th>Worked as</th>
                          <th>Organisation Name</th>
                          <th>About Organisation</th>
                          <th>Start Date</th>
                            <th>End Date</th>
                          <th>Action</th>
                        </tr>
                        <tr>
                             {% for e in work%}
                          <td class="p-0 text-center">

                          <td>{{ loop.index }}</td>

                          <td class="align-middle">
                          {{e.WorkExperience.design}}
                        </td>
                          <td>{{e.WorkExperience.organization}}</td>
                          <td>{{e.WorkExperience.about}}</td>
                          <td>
                            <div class="badge badge-warning">{{e.WorkExperience.s_date}}</div>
                          </td>
                          <td>
                            <div class="badge badge-success">{{e.WorkExperience.e_date.capitalize()}}</div>
                          </td>


                          <td><a href="/edit-Work/edit_id={{e.WorkExperience.id}}" class="btn-sm btn-primary fa fa-edit"></a>
                          <a href="/delete-work_experience/id={{e.WorkExperience.id}}" class="btn-sm btn-danger fa fa-trash"></a>
                          </td>
                        </tr>
                             {%endfor%}

                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </section>
 {% endblock%}